<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="('TRAINING.ARTICLES' | translate) != 'TRAINING.ARTICLES'">
        <ion-card *ngFor="let article of ('TRAINING.ARTICLES' | translate)">
          <ion-img *ngIf="article.image" src="{{ article.image }}"></ion-img>
          <ion-card-header *ngIf="article.title">
            <ion-card-title color="primary">
              <b>{{ article.title }}</b>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="article.content || article.map_url">
            <ion-label *ngIf="article.content">
              {{ article.content }}<br>
            </ion-label>
            <div *ngIf="article.map_url">
              <div class="mapouter center"><div class="gmap_canvas"><iframe width="700" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=EDEKA%20Dreifke,%20Gewerbering,%20Velden&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:700px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:700px;}</style></div></div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="('TRAINING.ARTICLES' | translate) == 'TRAINING.ARTICLES'">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="danger">
              {{ ('GENERAL.error' | translate) }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ ('GENERAL.loadingError' | translate) }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
