@import "../../../theme/variables.scss";

.padding-grid {
  padding-top: 20px;
  padding-bottom: 20px;
}

ion-col{
  text-align: center;
}

hr {
  background-color: rgba(255,255,255,.9);
  min-width: 240px;
  max-width: 1200px;
}

ion-label {
  font-size: large;
}

.copyright {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
  color: rgba(255,255,255,.9);
}

.nav-link {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  color: rgba(255,255,255,.9);
  transition: all .35s ease;
  &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgba(255,255,255,.9);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }
  &:hover {
      color: rgba(255,255,255,.9);
      &::before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
      }
  }
}
