<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="('PAGES.SLALOM.title' | translate) != 'PAGES.SLALOM.title'">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ ('PAGES.SLALOM.title' | translate) }}
            </ion-card-title>
            <ion-card-content>
              <ion-grid>
                <ion-row *ngIf="('PAGES.SLALOM.ARTICLES' | translate) != 'PAGES.SLALOM.ARTICLES'">
                  <ion-col size="12" *ngFor="let article of ('PAGES.SLALOM.ARTICLES' | translate)">
                    <ion-img *ngIf="article.image" src="{{ article.image }}"></ion-img>
                    <ion-title *ngIf="article.title">
                      {{ article.title }}
                    </ion-title>
                    <ion-label *ngIf="article.content">
                      {{ article.content }}
                    </ion-label>
                    <div *ngIf="article.map_url">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27393371915!2d-118.69190951085776!3d34.02016133139543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20Kalifornien%2C%20USA!5e0!3m2!1sde!2sde!4v1622925577619!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <br>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="('PAGES.ABOUT.ARTICLES' | translate) == 'PAGES.ABOUT.ARTICLES'">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title color="danger" *ngIf="('GENERAL.error' | translate) != 'GENERAL.error'">
              {{ ('GENERAL.error' | translate) }}
            </ion-card-title>
            <ion-card-title color="danger" *ngIf="('GENERAL.error' | translate) == 'GENERAL.error'">
              Fehler
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label *ngIf="('GENERAL.loadingError' | translate) != 'GENERAL.loadingError'">
              {{ ('GENERAL.loadingError' | translate) }}
            </ion-label>
            <ion-label *ngIf="('GENERAL.loadingError' | translate) == 'GENERAL.loadingError'">
              Es gab einen Fehler beim Laden der i18n Dokumente!
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
