<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="('PAGES.SLALOM.title' | translate) != 'PAGES.SLALOM.title'">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ ('PAGES.SLALOM.title' | translate) }}
            </ion-card-title>
            <ion-card-content>
              <ion-grid>
                <ion-row *ngIf="('PAGES.SLALOM.ARTICLES' | translate) != 'PAGES.SLALOM.ARTICLES'">
                  <ion-col size="12" *ngFor="let article of ('PAGES.SLALOM.ARTICLES' | translate)">
                    <ion-img *ngIf="article.image" src="{{ article.image }}"></ion-img>
                    <ion-title *ngIf="article.title">
                      {{ article.title }}
                    </ion-title>
                    <ion-label *ngIf="article.content">
                      {{ article.content }}
                    </ion-label>
                    <div *ngIf="article.map_url">
                      <div class="mapouter center"><div class="gmap_canvas"><iframe width="700" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=EDEKA%20Dreifke,%20Gewerbering,%20Velden&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:700px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:700px;}</style></div></div>
                    </div>
                    <br>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="('PAGES.ABOUT.ARTICLES' | translate) == 'PAGES.ABOUT.ARTICLES'">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title color="danger" *ngIf="('GENERAL.error' | translate) != 'GENERAL.error'">
              {{ ('GENERAL.error' | translate) }}
            </ion-card-title>
            <ion-card-title color="danger" *ngIf="('GENERAL.error' | translate) == 'GENERAL.error'">
              Fehler
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label *ngIf="('GENERAL.loadingError' | translate) != 'GENERAL.loadingError'">
              {{ ('GENERAL.loadingError' | translate) }}
            </ion-label>
            <ion-label *ngIf="('GENERAL.loadingError' | translate) == 'GENERAL.loadingError'">
              Es gab einen Fehler beim Laden der i18n Dokumente!
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
