<div>
  <ion-toolbar color="primary">
    <div slot="start">
      <ion-title class="app-title">
        Lorem
      </ion-title>
      <ion-title  class="app-sub-title">
        ipsum
      </ion-title>
    </div>
    <ion-label slot="end" *ngIf="isDesktop">
      <ng-container *ngIf="('COMPONENTS.TOOLBAR.LINKS' | translate) != 'COMPONENTS.TOOLBAR.LINKS'">
        <ng-container *ngFor="let link of ('COMPONENTS.TOOLBAR.LINKS' | translate)">
          <ion-label routerLink="{{ link.url }}" *ngIf="router.url === link.url" class="nav-link"><b>{{ link.name }}</b></ion-label>
          <ion-label routerLink="{{ link.url }}" *ngIf="router.url !== link.url" class="nav-link">{{ link.name }}</ion-label>
        </ng-container>
      </ng-container>
    </ion-label>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="top" slot="fixed" *ngIf="!isDesktop">
    <ion-fab-button *ngIf="('COMPONENTS.TOOLBAR.LINKS' | translate) != 'COMPONENTS.TOOLBAR.LINKS'">
      <ng-container *ngFor="let link of ('COMPONENTS.TOOLBAR.LINKS' | translate)">
        <ion-icon *ngIf="router.url === link.url" name="{{ link.icon }}"></ion-icon>
      </ng-container>
    </ion-fab-button>
    <ion-fab-list *ngIf="('COMPONENTS.TOOLBAR.LINKS' | translate) != 'COMPONENTS.TOOLBAR.LINKS'">
      <ion-fab-button *ngFor="let link of ('COMPONENTS.TOOLBAR.LINKS' | translate)" routerLink="{{ link.url }}" color="light">
        <ion-icon name="{{ link.icon }}"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>
